@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Inter:wght@100;200;300;400;600;700;800&family=Licorice&display=swap");
@import url("https://fonts.cdnfonts.com/css/sofia-pro");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #FFB742;
  --primary-color: #5007E0;
  --primary-gray: #7C7C7C;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border-color: transparent;
}

input::placeholder {
  font-size: 18px;
  letter-spacing: 2;
}

img {
  object-fit: cover;
  z-index: 999999999;
}

.formy {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

label {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  color: #7c7c7c;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.bottom img {
  /* width: 400px; */
  height: 100%;
  margin: 0 auto;
}

.center-form .btn1,
.center-form .btn2 {
  transition: all 0.3s linear;
  cursor: pointer;
}

.center-form .btn1:hover {
  background: #1d0252;
}

.center-form .btn2:hover {
  background: #a3a2a2;
}

.nav-links a:active {
  color: #ffb74c;
  text-decoration: underline;
}

.form-input > input, .password-field > input, .form-input select, .form-input textarea, .custom-input{
    border: 1px solid #7C7C7C;
    border-radius: 10px;
    width: 100%;
    padding: 15px 20px;
    margin-top: 8px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    color: #5007E0; 
  }

  

  .custom-form {
    margin-bottom: 2rem;
    transition: all 0.3s linear;
  }

  .custom-input:hover {
    border: 1px solid #5007e0;
  }

  .custom-input {
    display: flex;
    font-size: 1rem;
  }

  .custom-input.phone {
    display: block;
    padding: 0.3rem;
  }

   .m-input-wrapper.--default-border[data-v-447d0d16] {
        border: none;
        width: 100%;
        height: 100%;
    }

  .country-details {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    flex-basis: 10%;
  }

  .flag {
    width: 37px;
    height: 100%;
    border: 1px solid blue;
  }

  .custom-form input {
    flex: 1;
    padding: 0.3rem 1rem;
    letter-spacing: 0.5px;
    color: var(--primary-color);
    font-weight: 400;
    transition: all 0.3s linear;
  }

  .custom-form input:focus,  .custom-form select {
    outline: none;
    border: none;
    transform: scale(1.02);
  }

  .custom-form select, .custom-form input {
    border: none;
  }

  .custom-form #residence, .custom-form #model, .custom-form #service {
    flex: 1;
    padding: 0.3rem 0rem;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  .formy span {
    font-size: 14.5px;
  }

  header {
    height: 46rem;
    margin-bottom: 5rem;
  }

  .btn, .btn2, .logo {
    cursor: pointer;
  }

  .btn3 a {
    color: inherit;
  }


  .body {
    position: relative;
    height: 100%;
  }

   .custom-phone-input {
        border: none;
        width: 100%;
        height: 100%;
    }

    .error {
      color: red;
      opacity: 0;
      transition: all 0.3s linear;
    }

    .showError.error {
      opacity: 1;
    }

    .quote {
      width: 100%;
      display: grid;
      place-items: center;
    }

    .quote img{
      width: auto;
    }

    @media only screen and (max-width: 1200px) {
    #form .center-form {
      padding: 0;
      margin: 0 auto;
    }

    .left-col{
      padding: 1rem;
    }

    #form.right-col {
       padding: 5rem 1.5rem 10rem;
      border: 1px solid red;

    }

    
  }



  @media only screen and (max-width: 900px){
    header {
      height: auto;
      background-size: cover ;
      margin-bottom: 2rem;
    }

    .other-containers {
      position: relative;
      top: 0;
    }

    label {
      font-size: 1rem;
    }

    input::placeholder {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 600px){
     header {
      min-height: 100vh;
    }
  }
